<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Credly badges</title>
    </head>
    <body>
        <h2>Credly badges list</h2>
        <hr>
            <div data-iframe-width="150" 
                data-iframe-height="270" 
                data-share-badge-id="70ac007a-d97f-43ed-90e2-f992d9e6359e" 
                data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" 
                    async src="//cdn.credly.com/assets/utilities/embed.js">
            </script>
    </body>
</html>